@import "src/scss/style";

.constructor-panel {
  width: 243px;
  height: 448px;
  border: 2px dashed $lightGrayColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 106px;
  right: 81px;

  &:hover {
    background-color: $lightBlueColor;
  }

  &__inner-block {
    text-align: center;

    &-title {
      color: $totalBlueColor;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 4px;
      padding-top: 12px;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #6B7280;
      width: 106px;

    }
  }
}
