@import "src/scss/style";

.display {
  width: 240px;
  height: 60px;
  background: $totalWhiteColor;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &__inner-panel {
    border-radius: 6px;
    width: 232px;
    height: 52px;
    background: $totalGrayColor;
  }

  &__content {
    text-align: right;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
  }
}