@import "src/scss/style";

.display {
  &__inner-panel {
    border-radius: 6px;
    width: 232px;
    height: 52px;
    background: $totalGrayColor;
  }

  &__content {
    float: right;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    padding-right: 10px;
  }
}